html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}
#wrapper header {
  background-image: url('images/header-bg.png');
}
#wrapper #title {
  display: inline-block;
  margin: 20px 0 20px 20px;
}
#wrapper #title h1,
#wrapper #title h2 {
  color: #EEFFEE;
}
#wrapper #title h1 {
  font-size: 2.4em;
  float: left;
  margin: 0;
  padding: 0;
}
#wrapper #title h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  clear: both;
  font-weight: normal;
}
#wrapper #nav {
  float: right;
  margin-top: 30px;
  margin-right: 5px;
}
#wrapper #nav ul {
  list-style-type: none;
}
#wrapper #nav ul li {
  display: inline;
  margin: 15px;
  color: #CC6600;
  font-size: 1.3em;
  font-weight: bold;
}
#wrapper #line {
  height: 10px;
  background-color: #39C518;
}
#wrapper #content {
  width: 750px;
  float: left;
}
#wrapper #content h1 {
  color: #59770E;
}
#wrapper #aside {
  float: right;
  width: 200px;
  color: #59770E;
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#wrapper #aside input {
  width: 160px;
}
.clear {
  clear: both;
}
