html, body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

#shellHeader {
    float: left;
    clear: both;
}

#logo {
    float: left;
    background-image: url("images/logo.png");
    background-size: 100% 100%; 
    width: 160px;
    height: 70px;
}

.separator {
    height: 50px;
    width: 5px;
    background-color: black;
    float: left;
    margin-top: 10px;
}

#headerTitle {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 20px 0 0 10px;
    clear: right;
}

#search {
    background-color: rgb(0, 120, 215);
    float: left;
}